@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<
<html>
<body>

    <meta charset="=" utf-8 />

    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>

    <div id="myContainer">
        <div id="myAnimation">My animation will go here</div>
    </div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/ukHikH_10CA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</body>
<html>
