body {
    font-size: 62.5%;
    font-family: sans-serif;
}

input[type=text] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #3CBC8D;
    color: white;
    border-radius: 4px;
  }